<!--model List.Models.student-->

<h4>Search for a Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Name" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

<h4>Search for a Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Enrollment" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

<h4>Search for a Career</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Career" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

<h4>Search  for a Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Shift" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

<h4>Search for a Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Group" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

<h4>Search for a Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchStudent">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="Search a Grade" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<!--<div>
    <a asp-action="Index">Back to List</a>
</div>-->
<!-- section Scripts {
    {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} -->
